<h1>Flights</h1>

<table  class="table table-striped text-center">
	<thead>
		<th class="text-center col-md-1">Flight Number</th>
		<th class="text-center col-md-1">Airline</th>
		<th class="text-center col-md-1">Passengers</th>
		<th class="text-center col-md-1">Add Passenger</th>
		<th class="text-center col-md-2">Departure time</th>
		<th class="text-center col-md-1">Status</th>
		<th class="text-center col-md-2">Arrival time</th>
		<th class="text-center col-md-1">Status</th>
		<th class="text-center col-md-2">Update | Delete</th>
	</thead>

	<% @flights.each do |flight| %>
		<tr>
			<td><%= flight.number %></td>
			<td><%= flight.airline.name %></td>
			<td><%= link_to flight.passengers.count, flight_passengers_path(flight) %></td>
			<td><%= link_to "Add passenger", new_flight_passenger_path(flight) %></td>
			<td><%= flight.departure.date.strftime("%H:%M %d-%b-%Y") %></td>
			<td><%=flight.departure.status %></td>
			<td><%= flight.arrival.date.strftime("%H:%M %d-%b-%Y") %></td>
			<td><%= flight.arrival.status %></td>
			<td><%= link_to "Update", edit_flight_path(flight) %> | <%= link_to "Cancel", flight_path(flight), method: :delete %></td>
		</tr>
	<% end %>
</table>

<%= link_to	"New flight", new_flight_path, class:"btn btn-success" %>
