<h1>Passenger info</h1>

<div class="container">
  <div class="well col-md-4">
    <h3>Name :</h3>
    <%= @passenger.name %>
    <h3>Passport:</h3>
    <%= @passenger.passport %>
    <h3>Flight:</h3>
    <%= @passenger.flight.number %><br>
  </div>
</div>

<%= link_to "Passengers list", flight_passengers_path(params[:flight_id]), class:"btn btn-success" %>
<%= link_to "Edit", edit_flight_passenger_path(params[:flight_id],@passenger.id), class:"btn btn-info"%>
<%= link_to "Delete", flight_passenger_path(params[:flight_id],@passenger.id), method: :delete, class:"btn btn-danger" %>


