<!DOCTYPE html>
<html>
<head>
  <title>Airport2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to "Airlines", airlines_path %>
<%= link_to "Flights", flights_path %>

</body>
</html>
